includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - core/
        - http/
        - includes/
        - providers/
    scanDirectories:
        - vendor/php-stubs/wordpress-stubs